@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: "Roboto", sans-serif;
  font-size: clamp(10px, 10px + 0.5vh, 16px);
}

body {
  max-width: 1920px;
  margin: 0 auto;
}
