.champion-item {
  width: 12.5%;
  text-align: center;
}

.champion-item[class*="hidden"] {
  display: none;
}

.champion-item p {
  margin: 0.5rem 0;
}

.champion-item[class*="checked"] > img {
  filter: grayscale(100%) blur(2px);
}
