.champion-list {
  height: calc(100% - 6.5rem);
  overflow: scroll;
  margin: 1rem 0;
  -ms-overflow-style: none;
}

.champion-list::-webkit-scrollbar {
  display: none;
}

.champion-list > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: stretch;
}
