.champion-item {
  width: 15%;
  text-align: center;
  margin: 0 0.8%;
}

.champion-item .champion-item[class*="hidden"] {
  display: none;
}

.champion-item > img {
  width: 100%;
}

.champion-item p {
  margin: 0.5rem 0;
}

.champion-item[class*="checked"] > img {
  filter: grayscale(100%) contrast(150%);
}

.champion-item[class*="checked"] {
  opacity: 0.2;
}

@media (min-width: 1024px) {
  .champion-item {
    width: 13%;
    margin: 0 0.6%;
  }
}
