.champion-list {
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
}

.champion-list::-webkit-scrollbar {
  display: none;
}

.champion-list > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
